head {
    font-family: 'メイリオ';
}

.header {
    background-color:darkblue;
    padding: 10px;
    color:#ffffff;
}

.header-rogo {
    font-size: 25px;
    background-color:darkcyan;
}

.header-tab li{
    float: right;
}